PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=Sujal-with-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=Sujal-with-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=n9xr6ynw
CLOUDINARY_API_KEY=711334363157273
CLOUDINARY_API_SECRET=LR-5UHBGqXAzrtZSKJSodw-ZdkQ








MONGODB_URI=mongodb+srv://sujal:PASSWORD@cluster0.3zbdwdk.mongodb.net